{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<!-- TODO should this page use the same classes as a stack? -->
<main class="StackPage container fullhd">
    {% include "treestatus/recent_changes.html" %}

    <h1>Treestatus: {{ tree }}</h1>
    <p>Current status of {{ tree }}.</p>

    <div class="StackPage-stack">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Reason</th>
                    <th>Tags</th>
                    <th>When</th>
                    <th>Who</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td><span class="{{ log.status | treestatus_to_status_badge_class }}">{{ log.status }}</span></td>
                        <td>{{ log.reason }}</td>
                        <td>{{ ", ".join(log.tags) }}</td>
                        <td>{{ log.when }}</td>
                        <td>{{ log.who }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
