{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<!-- TODO should this page use the same classes as a stack? -->
<main class="Treestatus StackPage container fullhd">
    {% include "treestatus/recent_changes.html" %}

    <h1>Treestatus: {{ tree }}</h1>
    {% set current_status = logs[0].status %}
    <p>Current status: {{ tree }} is <span class="{{ current_status | treestatus_to_status_badge_class }}">{{ current_status }}</span></p>

    <a href="{{ url_for("treestatus.treestatus") }}"><button class="button">Show All Trees</button></a>
    <div class="StackPage-stack">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Reason</th>
                    <th>Reason Category</th>
                    <th>When</th>
                    <th>Who</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for log_update_form, log in logs %}
                    <tr>
                        <form class="log-update-form" action="{{ url_for("treestatus.update_log", id=log.id) }}" method="post">
                            <td>{{ log.id }}</td>
                            <td><span class="{{ log.status | treestatus_to_status_badge_class }}">{{ log.status }}</span></td>
                            <td>
                                {% set id_string = "input-log-reason-" + (log.id | string) %}
                                {{ log_update_form.reason(disabled=True, id=id_string) }}
                                <button class="log-update-edit" type="button" data-target="{{ id_string }}">Edit</button>
                            </td>
                            <td>
                                {% set id_string = "input-log-reason-category-" + (log.id | string) %}
                                {{ log_update_form.reason_category(disabled=True, id=id_string) }}
                                <button class="log-update-edit" type="button" data-target="{{ id_string }}">Edit</button>
                            </td>
                            <td>{{ log.when }}</td>
                            <td>{{ log.who }}</td>
                            <td>
                                <button class="button is-small is-primary">Update</button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
