{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<main class="Treestatus container fullhd">
    {% include "treestatus/recent_changes.html" %}

    <h1>Treestatus: {{ tree }}</h1>
    {% set current_status = logs[0].status %}
    <p>Current status: {{ tree }} is <span class="{{ current_status | treestatus_to_status_badge_class }}">{{ current_status }}</span></p>

    <a href="{{ url_for("treestatus.treestatus") }}"><button class="button">Show All Trees</button></a>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Reason</th>
                    <th>Reason Category</th>
                    <th>When</th>
                    <th>Who</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for log_update_form, log in logs %}
                    <!-- TODO put this class on the right field after converting from row -->
                    <!-- why doesn't it select the form? -->
                    <tr class="log-update-form">
                        <form action="{{ url_for("treestatus.update_log", id=log.id) }}" method="post">
                            <td>{{ log.id }}</td>
                            <td><span class="{{ log.status | treestatus_to_status_badge_class }}">{{ log.status }}</span></td>
                            <td>
                                <p class="log-update-visible">{{ log.reason }}</p>
                                {{ log_update_form.reason(id=id_string, class="log-update-hidden") }}
                            </td>
                            <td>
                                <p class="log-update-visible">{{ log_update_form.reason_category.data }}</p>
                                {{ log_update_form.reason_category(id=id_string, class="log-update-hidden") }}
                            </td>
                            <td>{{ log.when }}</td>
                            <td>{{ log.who }}</td>
                            <td>
                                <button class="button is-small is-primary log-update-edit log-update-visible" type="button" data-target="{{ form_class }}">Edit</button>
                                <button class="button is-small is-primary log-update-hidden">Update</button>
                                <button class="button delete is-normal log-update-edit log-update-hidden" type="button"></button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
