{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<!-- TODO should this page use the same classes as a stack? -->
<main class="Treestatus container fullhd">
    {% include "treestatus/recent_changes.html" %}

    <h1>Treestatus: New tree</h1>
    <form action="{{ url_for("treestatus.new_tree_handler") }}" method="post">
        {{ treestatus_new_tree_form.csrf_token }}
        {{ treestatus_new_tree_form.tree() }}
        <button class="button">Add tree</button>
    </form>
</main>
{% endblock %}
