{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# Only render the recent changes header if there are any changes available. #}
{% if recent_changes_stack %}
<h1>Recent changes</h1>
<div class="StackPage-stack">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status changes</th>
                <th>Reason</th>
                <th>When</th>
                <th>Who</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for status_change in recent_changes_stack %}
            <tr>
                <form action="{{ url_for("treestatus.patch_stack", id=status_change.id) }}" method="patch">
                    <td>{{ status_change.id }}</td>
                    <td>
                        <ul>
                            {% for tree in status_change.trees %}
                            <li>{{ tree.tree }} from 
                                <span class="{{ tree.last_state.status | treestatus_to_status_badge_class }}">
                                    {{ tree.last_state.status }}
                                </span> to 
                                <span class="{{ tree.last_state.current_status| treestatus_to_status_badge_class }}">
                                    {{ tree.last_state.current_status }}
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ status_change.reason }}</td>
                    <td>{{ status_change.when }}</td>
                    <td>{{ status_change.who }}</td>
                    <td>
                        <button>Restore</button>
                        <button>Update</button>
                        <button>Discard</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</br>
{% endif %}
