{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# Only render the recent changes header if there are any changes available. #}
{% if recent_changes_stack %}
<h1>Recent changes</h1>
<div class="StackPage-stack">
    <table class="table">
        <thead>
            <tr>
                <th>Status changes</th>
                <th>Reason</th>
                <th>Reason Category</th>
                <th>When</th>
                <th>Who</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for status_change_form, status_change_data in recent_changes_stack %}
            <tr>
                <form class="recent-changes-form" action="{{ url_for("treestatus.update_change", id=status_change_data.id) }}" method="post">
                    <td>
                        <ul>
                            {% for tree in status_change_data.trees %}
                            <li>{{ tree.tree }}
                                 from <span class="{{ tree.last_state.status | treestatus_to_status_badge_class }}">
                                    {{ tree.last_state.status }}
                                </span>
                                 to <span class="{{ tree.last_state.current_status | treestatus_to_status_badge_class }}">
                                    {{ tree.last_state.current_status }}
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% set id_string = "input-reason-" + (status_change_data.id | string) %}
                        {{ status_change_form.reason(disabled=True, id=id_string) }}
                        <button class="recent-changes-edit" type="button" data-target="{{ id_string }}">Edit</button>
                    </td>
                    <td>
                        {% set id_string = "input-reason-category" + (status_change_data.id | string) %}
                        {{ status_change_form.reason_category(disabled=True, id=id_string) }}
                        <button class="recent-changes-edit" type="button" data-target="{{ id_string }}">Edit</button>
                    </td>
                    <td>{{ status_change_data.when }}</td>
                    <td>{{ status_change_data.who }}</td>
                    <td>
                        {{ status_change_form.restore(class_="button is-success is-small") }}
                        {{ status_change_form.update(class_="button is-info is-small") }}
                        {{ status_change_form.discard(class_="button is-danger is-small") }}
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</br>
{% endif %}
