{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# Only render the recent changes header if there are any changes available. #}
{% if recent_changes_stack %}
<h1>Recent changes</h1>
<div class="container">
    {% for status_change_form, status_change_data in recent_changes_stack %}
    <div class="box">
        <form class="recent-changes-form" action="{{ url_for("treestatus.update_change", id=status_change_data.id) }}" method="post">
            {{ status_change_form.csrf_token }}

            <!-- TODO fix styling for: -->
            <!-- - reason -->
            <!-- - reason category -->
            <!-- - bolding relevant text -->
            <div class="columns">
                <div class="column">
                    <p>At {{ status_change_data.when }}, {{ status_change_data.who }} changed trees:</p>
                    <div class="block content">
                        <ul>
                            {% for tree in status_change_data.trees %}
                            <li><b>{{ tree.tree }}</b>
                                 from <span class="{{ tree.last_state.status | treestatus_to_status_badge_class }}">
                                    {{ tree.last_state.status }}
                                </span>
                                 to <span class="{{ tree.last_state.current_status | treestatus_to_status_badge_class }}">
                                    {{ tree.last_state.current_status }}
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="field">
                        {% set id_string = "input-reason-" + (status_change_data.id | string) %}
                        <label class="label">{{ status_change_form.reason.label }}</label>
                        <div class="control">{{ status_change_form.reason(disabled=True, id=id_string) }}</div>
                        <button class="recent-changes-edit" type="button" data-target="{{ id_string }}">Edit</button>
                    </div>
                    <div class="field">
                        {% set id_string = "input-reason-category" + (status_change_data.id | string) %}
                        <label class="label">{{ status_change_form.reason_category.label }}</label>
                        <div class="control">{{ status_change_form.reason_category(disabled=True, id=id_string) }}</div>
                        <button class="recent-changes-edit" type="button" data-target="{{ id_string }}">Edit</button>
                    </div>
                </div>
                <div class="column is-narrow">
                    {{ status_change_form.restore(class_="button is-success is-small") }}
                    {{ status_change_form.update(class_="button is-info is-small") }}
                    {{ status_change_form.discard(class_="button is-danger is-small") }}
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
</br>
{% endif %}
