{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<main class="StackPage container fullhd">
    <h1>Treestatus: Stack</h1>
    <p>Current status of Mozilla's version-control repositories.</p>

    <div class="StackPage-stack">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Reason</th>
                    <th>Trees</th>
                    <th>When</th>
                    <th>Who</th>
                </tr>
            </thead>
            <tbody>
                {% for status_change in stack %}
                    <tr>
                        <td>{{ status_change.id }}</td>
                        <td>{{ status_change.status }}</td>
                        <td>{{ status_change.reason }}</td>
                        <td>{{ status_change.trees | map(attribute="tree") | join(",") }}</td>
                        <td>{{ status_change.when }}</td>
                        <td>{{ status_change.who }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
