{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<!-- TODO should this page use the same classes as a stack? -->
<main class="Treestatus container fullhd">
    <h1>Treestatus</h1>
    <p>Current status of Mozilla's version-control repositories.</p>

    {% include "treestatus/recent_changes.html" %}

    {# TODO the formatting on this h2 is small/wrong etc. #}
    <div class="StackPage-stack">
        {#
            The main Treestatus page is a table that presents the trees.
            Trees can be selected here for updating, or for deletion.
        #}
        <a href="{{ url_for("treestatus.new_tree") }}">
            <button class="button" title="New Tree">New Tree</button>
        </a>
        <form action="{{ url_for("treestatus.update_treestatus_form") }}" method="post">
            <div>
                <button class="Treestatus-updateTreeButton button" title="Update Tree">Update trees</button>
            </div>
            <h2>Trees<h2>
            <table class="table">
                <thead>
                    <tr>
                        {% if is_user_authenticated_TODO() %}
                        <th></th>
                        {% endif %}
                        <th>Name</th>
                        <th>Status</th>
                        <th>Reason</th>
                        <th>Tags</th>
                        <th>Message of the Day</th>
                    </tr>
                </thead>
                <tbody>
                    {# TODO how to make the tree selection pass to the modal form? #}
                    {{ treestatus_select_trees_form.trees(trees=trees) | safe }}
                </tbody>
            </table>
        </form>
    </div>
</main>
{% endblock %}
