{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<!-- TODO should this page use the same classes as a stack? -->
<main class="StackPage container fullhd">
    <h1>Treestatus</h1>
    <p>Current status of Mozilla's version-control repositories.</p>

    <h2>Trees<h2>
    <div class="StackPage-stack">
        {#
            The main Treestatus page is a table that presents the trees.
            If the user is authenticated and has proper scopes, also make
            the page a form which is used to select trees and forward the
            selection to the tree status updating form.
        #}
        {% if is_user_authenticated_TODO() %}
            <form action="{{ url_for('treestatus.update_treestatus') }}" method="post" >
            {{ treestatus_update_form.csrf_token }}
            <div>{{ treestatus_update_form.status.label }}: {{ treestatus_update_form.status() }}</div>
            <div>{{ treestatus_update_form.reason.label }}: {{ treestatus_update_form.reason() }}</div>
            <div>{{ treestatus_update_form.message_of_the_day.label }}: {{ treestatus_update_form.message_of_the_day() }}</div>
            <div>{{ treestatus_update_form.remember_this_change.label }}: {{ treestatus_update_form.remember_this_change() }}</div>
            <button class="button" title="Submit">Change tree status</button>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    {% if is_user_authenticated_TODO() %}
                    <th></th>
                    {% endif %}
                    <th>Name</th>
                    <th>Status</th>
                    <th>Reason</th>
                    <th>Tags</th>
                    <th>Message of the Day</th>
                </tr>
            </thead>
            <tbody>
                {{ treestatus_update_form.trees(trees=trees)|safe }}
            </tbody>
        </table>

        {% if is_user_authenticated_TODO() %}
        </form>
        {% endif %}
    </div>
</main>
{% endblock %}
