{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}Treestatus{% endblock %}

{% block main %}
<!-- TODO should this page use the same classes as a stack? -->
<main class="StackPage container fullhd">
    <h1>Treestatus</h1>
    <p>Current status of Mozilla's version-control repositories.</p>

    <h2>Trees<h2>
    <div class="StackPage-stack">
        {#
            The main Treestatus page is a table that presents the trees.
            If the user is authenticated and has proper scopes, also make
            the page a form which is used to select trees and forward the
            selection to the tree status updating form.
        #}
        {% if is_user_authenticated_TODO() %}
            <form action="{{ url_for('treestatus.update_treestatus') }}">
            <button class="button" title="Submit">Change tree status</button>
        {% endif %}
        <table class="table">
            <thead>
                <tr>

                    {% if is_user_authenticated_TODO() %}
                    <th></th>
                    {% endif %}
                    <th>Name</th>
                    <th>Status</th>
                    <th>Reason</th>
                    <th>Tags</th>
                    <th>Message of the Day</th>
                </tr>
            </thead>
            <tbody>
                {% for name, tree in trees.items() %}
                    <tr>
                        {% if is_user_authenticated_TODO() %}
                            <td>
                            <input type="checkbox" id="{{ name }}" name="{{ name }}">
                            </td>
                        {% endif %}
                        <td><a href="{{ name }}">{{ name }}</a></td>
                        <td><span class="{{ tree.status | treestatus_to_status_badge_class }}">{{ tree.status }}</span></td>
                        <td>{{ tree.reason }}</td>
                        <td>{{ ", ".join(tree.tags) }}</td>
                        <td>{{ tree.message_of_the_day }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_user_authenticated_TODO() %}
        </form>
        {% endif %}
    </div>
</main>
{% endblock %}
